p{
    font-size: 25px;
}
span{
    font-size: 21px;
    padding-top: 40px;
    margin-top: 20px;
}
.leavecards.card{
    margin-top: 30px;
    margin-left: 100px;
    padding: 20px;
    /* background-color: gainsboro; */
    align-items: center;
    display: flex;
}
